.question-buttons {
  width: 90%;

  margin: 1.6rem auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  gap: 22px;
}
button {
  background-color: #fff;
  border: none;
  border-radius: 8px;
  padding: 0.8rem;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  cursor: pointer;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.13);
    filter: brightness(0.95);
  }
}

.correct {
  background-color: rgb(81, 255, 81);
}
