body {
  background-color: #cec;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items:center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: rgb(71, 87, 71);
  font-weight: 500;
}

.correct {
  background-color: green;
}
